.footer {
    background-color: #222;
    color: #FFF;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 1em;    
}

.social_list li:hover {
    color: #ffbb33;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right{
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
    color: #ffbb33;
}

.authorship {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    font-size: 20px;
    gap: 0.5em;
} 

.authorship a{
    text-decoration: none;
}

.font {
    animation: bg 5s infinite linear;
    background: -webkit-linear-gradient(90deg, #0000FF 0%, #ADD8E6 50%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #FFF;
}

.creator {
    animation: bg 10s infinite linear;
    background: -webkit-linear-gradient(90deg, #0000FF 0%, #ADD8E6 50%, #FFFFFF 500%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid #FFF;
}

@keyframes bg{
    100%{filter: hue-rotate(360deg);}
}
